<!-- SIDEBAR -->
<div id="sidebar">

    <!-- Sections -->
    <nav>

        <h4>Sections</h4>

        <a href="/">home</a>

        {%- assign site_posts = site.posts | sort -%}
        {%- assign sections='' -%}
        {%- for post in site_posts -%}
            {%- assign path = post.path | replace:'_posts/','' -%}
            {%- assign path_parts = post.path | split: '/' -%}
            {%- if path contains '/' -%}
                {%- assign section = path_parts[1] -%}
                {%- assign sectionX = '¬' | append: section | append:  '¬'  -%}
                {%- unless sections contains sectionX -%}
                    {%- assign sections=sections | append:  '¬' | append: section | append:  '¬' -%}
                    &nbsp;
                    <a href="/sections#{{section}}">{{section}}</a>
                {%- endunless -%}
            {%- endif -%}
        {%- endfor -%}

        <br>

        <select id="option_posts" onchange="window.document.location.href=this.options[this.selectedIndex].value;">
        <option value=""></option>
        {%- assign site_posts = site.posts | sort: 'title' -%}
        {%- for post in site_posts -%}
            <option value="{{post.url}}">{{post.title || truncate: 36}}</option>
        {%- endfor -%}
        </select>

    </nav>
    <!-- Sections -->

    <br>

    <!-- Categories -->
    <nav>
        <h4>Categories</h4>
        {%- assign site_categories = site.categories | sort -%}
        {%- for category in site_categories -%}
            <a href="/categories#{{category | first}}">{{category | first}}</a>
            &nbsp;
        {%- endfor -%}
    </nav>
    <!-- Categories -->

    <!-- Tags -->
    <nav>
        <h4>Tags</h4>
        {%- assign site_tags = site.tags | sort -%}
        {%- for tag in site_tags -%}
            <a href="/tags#{{tag | first}}">{{tag | first}}</a>
            &nbsp;
        {%- endfor -%}
    </nav>
    <!-- Tags -->

    <br>

    <!-- Collections -->
    <nav>
        <h4>Collections</h4>
        {%- for collection in site.collections -%}
            {%- if site[collection.label].size > 0 -%}
                <a href="/collections#{{collection.label}}">{{collection.label}}</a>
                &nbsp;
            {%- endif -%}
        {%- endfor -%}
    </nav>
    <!-- Collections -->

</div>
<!-- SIDEBAR -->