---
layout: default
---
<!-- POST -->

<!-- infobar -->
<div id="infobar_header">
  <!-- page title -->
  <h1>&nbsp;{{page.title}}</h1>
  <!-- page title -->
  <span id="infobar_header_text">

    <!-- date / time -->
    {%- if page.date -%}

      <br>
      &nbsp;
      &nbsp;
      <span style="color:#555">Date:</span>
      {{page.date | date: '%d %b %Y'}}

      {%- assign time = page.date | date: '%T' -%}
      {%- if time != '00:00:00' -%}
        &nbsp;
        <span style="color: #555">Time:</span>
        {{time}}
      {%- endif -%}
      <!-- date / time -->

    {%- endif -%}

    <!-- author -->
    {%- if page.author -%}
      &nbsp;
      &nbsp;
      <span style="color:#555">Author:</span>
      {{page.author}}
    {%- endif -%}
    <!-- author -->

  </span>
</div>
<!-- infobar -->

<!-- content -->
<div id="content">
  {{content}}
</div>
<!-- content -->

<!-- infobar -->
<div id="infobar_footer">

  <span id="infobar_footer_text">

    <!-- page title -->
    &nbsp;
    <span style="color:#555">Title:</span>
    {{page.title}}
    <!-- page title -->

    <!-- date / time -->
    {%- if page.date -%}

      &nbsp;
      &nbsp;
      <span style="color:#555">Date:</span>
      {{page.date | date: '%d %b %Y'}}

      {%- assign time = page.date | date: '%T' -%}
      {%- if time != '00:00:00' -%}
        &nbsp;
        <span style="color: #555">Time:</span>
        {{time}}
      {%- endif -%}
      <!-- date / time -->

    {%- endif -%}

    <!-- author -->
    {%- if page.author -%}
      &nbsp;
      &nbsp;
      <span style="color:#555">Author:</span>
      {{page.author}}
    {%- endif -%}
    <!-- author -->

    <!-- page categories -->
    {%- if page.categories.size >0 -%}
      &nbsp;
      &nbsp;
      <span style="color:#555">Categories:</span>
      {{page.categories|join: '&nbsp;&nbsp;'}}
    {%- endif -%}
    <!-- page categories -->

    <!-- page tags -->
    {%- if page.tags.size >0 -%}
      &nbsp;
      &nbsp;
      <span style="color:#555">Tags:</span>
      {{page.tags|join: '&nbsp;&nbsp;'}}
    {%- endif -%}
    <!-- page tags -->

  </span>
</div>
<!-- infobar -->

<!-- POST -->
